<form class="ui form" #newItemForm="ngForm" (ngSubmit)="create()" *ngIf="createNew">
<h4 class="ui horizontal divider header">
  Lets plan a trip!
</h4>
  <div class="field">
    <label>Name</label>
    <input [(ngModel)]="newTrip.name" required type="text" name="name" placeholder="Name">
  </div>
  <div class="field">
    <label>Start Date</label>
    <div class="fields">
      <div class="four wide field">
      <input disabled value="{{newTrip.date | date:'shortDate'}}">
      </div>
      <div class="twelve wide field">
      <datepicker [(ngModel)]="newTrip.date" name="tripdate"></datepicker>
      </div>
    </div>
  </div>
    <div class="field">
    <label>Duration</label>
    <input [(ngModel)]="newTrip.duration" required type="number" name="duration" placeholder="Duration (Nights)">
  </div>
    <div class="field">
    <label>Description</label>
    <textarea rows="2" [(ngModel)]="newTrip.description" name="description" ></textarea>
  </div>

  <button class="ui button green" type="submit">Create</button>
  <a class="ui button" (click)="cancelCreate()">Cancel</a>
    <div class="ui divider"></div>
</form>


<form class="ui form" #updateItemForm="ngForm" *ngIf="editItem" (ngSubmit)="updateItem()">
<h4 class="ui horizontal divider header">
  Editing {{trip.name}}
</h4>
   <div class="field">
    <label>Name</label>
    <input [(ngModel)]="trip.name" required type="text" name="name" placeholder="Name">
  </div>
  <div class="field">
    <label>Start Date</label>
    <div class="fields">
      <div class="four wide field">
      <input disabled value="{{trip.date | date:'shortDate'}}">
      </div>
      <div class="twelve wide field">
      <datepicker [(ngModel)]="trip.date" name="tripdate"></datepicker>
      </div>
    </div>
  </div>
    <div class="field">
    <label>Duration</label>
    <input [(ngModel)]="trip.duration" required type="number" name="duration" placeholder="Duration (Nights)">
  </div>
    <div class="field">
    <label>Description</label>
    <textarea rows="2" [(ngModel)]="trip.description" name="description" ></textarea>
  </div>
  <button class="ui button green" type="submit">Update</button>
  <a class="ui button" (click)="cancelEdit()">Cancel</a>
      <a class="ui right floated button red" (click)="delete()">Delete</a>
</form>
<div *ngIf="!createNew && !editItem">
<h1>Trips</h1>
<button class="fluid ui button blue" *ngIf="!createNew" (click)="createNew=true">Plan a trip</button>

<div class="ui divided items">
  <div class="item" *ngFor="let trip of trips | async">
    <div class="">
      <i class="massive image icon"></i>
    </div>
    <div class="content">
   <div class="ui right floated vertical buttons">
  <button class="ui grey button" (click)="select(trip)">
          Edit Details
          <i class="right chevron icon"></i>
  </button>
  <button class="ui green button">
             Edit Gear
          <i class="right chevron icon"></i>
  </button>
</div>
      <a class="header">{{trip.name}}</a>
      <div class="meta">
        <span class="cinema">{{trip.date | date:'shortDate'}}</span>
      </div>
      <div class="description">
        <p>{{trip.description}}</p>
      </div>
      <div class="extra">
      </div>
    </div>
  </div>
</div>
</div>

